reflex==0.3.4
ibm-cos-sdk==2.13.2
ibm-cos-sdk-core==2.13.2
ibm-cos-sdk-s3transfer==2.13.2
ibm-generative-ai==0.2.8
ibm-watson-machine-learning==1.0.326
pypdf==3.16.2
pydantic==1.10.12
sentence-transformers==2.2.2
chroma-hnswlib==0.7.3
chromadb==0.4.13
